@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<ul>
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="moth">@gig.DateTime.Month</div>
                <div class="day">@gig.DateTime.Day</div>
            </div>
            <div class="details">
                <div class="artist">@gig.Artist.Name</div>
                <div class="genre">@gig.Genre.Name</div>
            </div>
        </li>
    }

</ul>

